{% include 'app/header.html' %}
{% load staticfiles %}
<body>
<main>

    <div class="container">
        <h1>Add device</h1>
        <div class="row">
            <form action="/devices/new/add/" method="post" class="col s12">
                {% csrf_token %}
                <div class="row">

                    <label for="sigfox-id">SigfoxID: </label>
                    <input id="sigfox-id" type="text" name="sigfox_id">
                    <label for="api-login">ApiLogin: </label>
                    <input id="api-login" type="text" name="api_login">
                    <label for="api-pass">ApiPassword: </label>
                    <input id="api-pass" type="password" name="api_password">
                    <label for="device_description">Device description: </label>
                    <input id="device_description" type="text" name="device_description">
                    <button type="submit" value="Submit" class="waves-effect waves-light btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</main>
{% include 'app/footer.html' %}