
{% include 'app/header.html' %}

    <body>
    <main>
   
    <div class="container">
   

<div id="isolated">		
		
{% include 'app/documents.html' %}

	</div>	
	
	
</div>
</body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script>$(document).ready(function(){
    $('ul.tabs').tabs();
  });</script>
</main>
{% include 'app/footer.html' %}
